@font-face {
  font-family: titlefont;
  
  src: url(font.ttf);
}  
  
p {


  font-family: titlefont;


} 
  
h1 {


  color: #f5a905;
    font-family: titlefont;
font-size: 30px;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #0c7a31;


} 
  
body {
  background-color: #f26f6f;
}
