
@font-face {
  font-family: tf2;
  src: url(fonts\TF2.ttf);
}




 



body {
  background-color: powderblue;
}
h1 {
    font-family: tf2;
}
p {
    font-family: tf2;
}
table, th, td {
  border: 1px solid black;
}
