@font-face {
  font-family: titlefont;
  src: url(BurbankBigCondensed-Bold.otf);
}






 



body {

  background-color: #9dfc03;



}
h1 {

color: #FFFFFB;
    font-family: titlefont;
font-size: 70px;
  -webkit-text-stroke-width: 4px;
  -webkit-text-stroke-color: #0c7a31;
}

h2 {

color: #727573;
    font-family: Arial;
font-size: 25px;

}


p {


  font-family: Arial;


}

table, td, th {  
  background-image: url('content.jpg');
  border: 2px solid #ddd;
  text-align: top ;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
img {
  max-width: 100%;
  height: auto;
}

.bg {
 background-color: #344feb;
}


